<app-card title="About Me" id="about">
  <div>
    <img src="assets/LD_icon.png" alt="LDprg Logo" class="logo mx-auto" />
    <h3 class="mt-4 text-2xl font-medium tracking-tight text-white">LDprg</h3>
    <div class="mt-2 text-slate-400">
      Hi I am a programmer and I like to code in C++.
    </div>
  </div>
  <div class="mx-10 mt-4 flex flex-wrap">
    <div
      class="mx-3 my-2 basis-[100%] rounded bg-blue-700 p-3 p-1 text-white md:flex-1 lg:mx-10"
    >
      <div class="text-lg">
        Programming languages I have worked with:
      </div>
      <ul class="mt-2 text-sm text-slate-300">
        <li>C/C++</li>
        <li>Javascript/Typescript</li>
        <li>Java/Kotlin</li>
        <li>Python</li>
        <li>VHDL</li>
        <li>HTML/CSS</li>
        <li>Go</li>
        <li>Matlab</li>
        <li>(Virtual) Basic</li>
        <li>PHP</li>
      </ul>
    </div>
    <div
      class="mx-3 my-2 basis-[100%] rounded bg-red-700 p-3 p-1 text-white md:flex-1 lg:mx-10"
    >
      <div class="text-lg">
        My favorite programming languages:
      </div>
      <ul class="mt-2 text-sm text-slate-300">
        <li>C++</li>
        <li>C</li>
        <li>VHDL</li>
        <li>Javascript/Typescript</li>
        <li>Kotlin</li>
        <li>Go</li>
        <li>Python</li>
      </ul>
    </div>
    <div
      class="mx-3 my-2 basis-[100%] rounded bg-green-700 p-3 p-1 text-white md:flex-1 lg:mx-10"
    >
      <div class="text-lg">
        Software types I have worked on:
      </div>
      <ul class="mt-2 text-sm text-slate-300">
        <li>AI</li>
        <li>Rendering Engines</li>
        <li>Microcontroller</li>
        <li>FPGA Programming</li>
        <li>Plugin/Extension Programming</li>
        <li>Macro Programming</li>
        <li>Desktop Applications</li>
        <li>Mobile Applications</li>
        <li>Website Frontend</li>
        <li>Website Backend</li>
      </ul>
    </div>
  </div>
</app-card>
