<app-card title="About Me" id="about">
  <div>
    <img src="assets/LD_icon.png" alt="LDprg Logo" class="logo mx-auto" />
    <h3 class="mt-4 text-base font-medium tracking-tight text-white">LDprg</h3>
    <p class="mt-2 text-sm text-slate-400">
      Hi I am a programmer and I like to code in C++.
    </p>
  </div>
  <div class="flex mt-4 mx-10">
    <div class="my-2 mx-10 flex-1 rounded bg-blue-700 p-1 text-white">
      A short list of programming languages I have worked with:
      <ul class="mt-2 text-sm text-slate-300">
        <li>C/C++</li>
        <li>Javascript/Typescript</li>
        <li>Java/Kotlin</li>
        <li>Python</li>
        <li>VHDL</li>
        <li>HTML/CSS</li>
        <li>Go</li>
        <li>Matlab</li>
        <li>(Virtual) Basic</li>
        <li>PHP</li>
      </ul>
    </div>
    <div class="my-2 mx-10 flex-1 rounded bg-red-700 p-1 text-white">
      A short list of my favorite programming languages:
      <ul class="mt-2 text-sm text-slate-300">
        <li>C++</li>
        <li>C</li>
        <li>VHDL</li>
        <li>Javascript/Typescript</li>
        <li>Kotlin</li>
        <li>Go</li>
        <li>Python</li>
      </ul>
    </div>
    <div class="my-2 mx-10 flex-1 rounded bg-green-700 p-1 text-white">
      A short list of software types I have worked on:
      <ul class="mt-2 text-sm text-slate-300">
        <li>AI</li>
        <li>Rendering Engines</li>
        <li>Microcontroller</li>
        <li>FPGA Programming</li>
        <li>Plugin/Extension Programming</li>
        <li>Macro Programming</li>
        <li>Desktop Applications</li>
        <li>Mobile Applications</li>
        <li>Website Frontend</li>
        <li>Website Backend</li>
      </ul>
    </div>
  </div>
</app-card>
