<div class="grid place-items-center"  id="projects">
  <div
    class="w-full bg-slate-800 px-6 py-8 text-center shadow-xl ring-1 ring-slate-900/5"
  >
    <h1 class="mb-8 text-base font-medium tracking-tight text-white">Projects</h1>
    <img src="assets/LD_icon.png" alt="LDprg Logo" class="logo mx-auto" />
    <h3 class="mt-4 text-base font-medium tracking-tight text-white">LDprg</h3>
    <p class="mt-2 text-sm text-slate-400">
      Hi I am a programmer and I like to code in C++.
    </p>
  </div>
</div>
