<app-card title="Contact" class="text-white"  id="contact">
  <img src="assets/LD_icon.png" alt="LDprg Logo" class="logo mx-auto" />

  <table
    class="mx-auto mt-8 border-separate border-spacing-5 border border-slate-500"
  >
    <thead class="text-slate-100">
      <tr>
        <th>Contact</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody class="text-slate-300">
      <tr>
        <td>Github:</td>
        <td>
          <a
            href="https://github.com/LDprg"
            target="_blank"
            class="self-center outline-none"
          >
            <app-icons type="github"></app-icons>
          </a>
        </td>
      </tr>
      <tr>
        <td>E-Mail:</td>
        <td>
          <a
            href="mailto:lukas_4dr@gmx.at"
            target="_blank"
            class="self-center outline-none"
          >
            <app-icons type="mail"></app-icons>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>
