<div class="space-x-10">
  <app-about></app-about>

  <app-projects></app-projects>

  <app-contact></app-contact>
</div>


<div class="text-gray-500">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi
  asperiores, aspernatur ducimus fugit ipsum laboriosam mollitia nihil nostrum
  quis quo reiciendis ut, velit. Aliquid at deleniti eius impedit ipsa, laborum
  nostrum officiis perferendis perspiciatis provident quas repudiandae rerum
  vel, voluptate, voluptatibus. Accusantium alias asperiores commodi culpa
  impedit molestias numquam optio quod quos tempore? Dicta distinctio ex facere
  numquam quae quis velit! Minima nam, provident. Ab aut cumque dicta dolorem
  neque rerum tempore. Quibusdam saepe sunt temporibus velit voluptatibus?
  Adipisci, assumenda corporis culpa debitis deleniti dicta ex, facere facilis
  fuga id ipsa maxime nam nihil praesentium quos rem repellendus? Itaque. Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deleniti
  doloremque, dolores dolorum, est, eum iure laboriosam necessitatibus pariatur
  quam quos sit voluptatibus! Dolorem et eum, nesciunt recusandae similique
  temporibus veniam. Accusamus accusantium aliquid aperiam, aspernatur at
  blanditiis commodi cum delectus dolores eius esse eum eveniet iusto labore
  laboriosam, laudantium nam neque non officiis omnis quae quam quidem quisquam
  quo, quod repudiandae suscipit vel veritatis voluptates voluptatum.
  Dignissimos minus modi molestias veniam voluptas. A accusamus eum expedita
  inventore minima obcaecati odit quod sit. Aperiam culpa delectus iste, laborum
  libero minima odio tempore velit? Aut ea laboriosam voluptatem! Accusantium ad
  aperiam architecto culpa deleniti, fugit id impedit incidunt ipsam laboriosam
  modi natus nihil nulla porro quam quia quos, similique sint temporibus vel!
  Autem dignissimos error exercitationem, facere inventore ipsum libero nam
  nesciunt quod repellendus reprehenderit ut voluptatibus. Atque corporis libero
  sit suscipit! Corporis dicta dolor facilis maxime minima nam placeat repellat
  sapiente suscipit vitae! A accusantium adipisci aspernatur aut, blanditiis
  commodi debitis deleniti deserunt fuga illo impedit minima molestiae natus non
  odio perferendis possimus quae quibusdam quod repellat, sapiente tempora
  veritatis! Assumenda, consectetur cumque doloremque explicabo facere impedit
  incidunt iure magnam, maxime molestiae natus neque numquam odit officiis
  pariatur perspiciatis placeat. A architecto, assumenda autem commodi
  consectetur cum cumque cupiditate delectus deserunt dicta doloremque eum ex
  fuga fugit id illo impedit inventore ipsa itaque libero nam, odio possimus
  provident quaerat quam quia quidem ratione repellendus reprehenderit sit vel
  vitae voluptas voluptates. Aliquid asperiores autem commodi, deleniti dolorem
  eos expedita explicabo, facere ipsum laborum laudantium nesciunt nulla
  officia, pariatur ratione reprehenderit sint sit velit veritatis voluptatem.
  At aut cum dicta doloribus esse inventore nihil nostrum, qui quis, rerum sint,
  tenetur. Harum laboriosam nesciunt pariatur qui! Accusantium architecto
  aspernatur dolores error est et eveniet ipsam reiciendis saepe tempora?
  Dignissimos est ipsam labore nihil quae quo repellat rerum sit veniam. At,
  blanditiis corporis dolore explicabo fugiat illum laboriosam laudantium
  molestias nemo, nihil numquam placeat porro rerum sunt tempore voluptates
  voluptatum! Accusamus amet animi eveniet laborum mollitia quia sed soluta
  voluptatem? Accusamus alias animi atque consectetur cumque, deserunt eaque
  eius harum illum incidunt ipsam molestiae odio, perspiciatis, praesentium quas
  quis sit sunt unde ut voluptatibus! A ab, aspernatur beatae cupiditate in
  incidunt iste minima nam non sunt tempora totam velit voluptatum. Deleniti et
  in magnam minima pariatur quaerat similique sit? Ad aliquid asperiores at
  commodi cum, cupiditate doloribus hic itaque mollitia nihil pariatur,
  perspiciatis placeat porro quaerat quos, ratione repellendus sed soluta
  temporibus voluptatum. Ad aperiam atque, commodi cum cupiditate deleniti
  deserunt dicta distinctio eaque earum exercitationem illum impedit, ipsa magni
  molestias mollitia perferendis porro quibusdam, recusandae sint tempora vitae
  voluptatem! Architecto asperiores beatae blanditiis dolor, earum eos illum
  laudantium nihil. Adipisci alias assumenda, beatae delectus dolorum enim id,
  ipsum modi, mollitia necessitatibus neque numquam optio possimus quaerat quos
  rem temporibus. A culpa, deleniti dolor ducimus ea est expedita harum minus,
  nam necessitatibus nulla quas repellat, sit velit vitae. Asperiores at debitis
  obcaecati recusandae ut! Aliquam ducimus earum inventore non, praesentium
  quidem reiciendis repellat. Aut autem dolore ipsam molestiae, ratione
  voluptate? Ab accusantium amet aspernatur assumenda atque blanditiis commodi
  cum debitis dolore dolorum eius eos fuga hic illum in inventore ipsum iste,
  laboriosam molestiae necessitatibus nemo neque nobis nulla numquam optio
  perspiciatis praesentium quis repellat unde velit? Cupiditate fugit mollitia
  reiciendis! Commodi debitis dolore excepturi magnam, maxime quasi quisquam
  tempora tenetur. A accusantium aliquid amet aperiam aut consequuntur corporis
  culpa delectus ea eaque error eveniet exercitationem facilis harum impedit,
  ipsum, laudantium magnam maiores minima nam nulla obcaecati officiis
  perspiciatis provident quam, quia quo rem repudiandae similique tempora
  temporibus unde vitae voluptatibus. Ab asperiores, deleniti dolor dolore
  expedita fugit ipsa itaque molestiae nostrum numquam officia provident quam
  quod recusandae repellat repellendus tempore ut, vero voluptates voluptatibus.
  Amet aspernatur consequuntur dolor dolore eius exercitationem explicabo hic in
  iure modi officia perspiciatis repellat, reprehenderit tempore ullam velit
  vitae. Aperiam, impedit, tempora. Ab accusamus aperiam atque autem blanditiis
  cupiditate dignissimos dolor dolorum earum enim est et ex facere facilis harum
  ipsam itaque, labore laudantium magnam, molestias perspiciatis possimus
  provident quae quas repellat saepe sapiente temporibus ullam ut veritatis.
  Amet architecto corporis, culpa ea error fuga ipsa molestiae placeat quasi!
  Animi, architecto blanditiis corporis delectus deserunt dicta error est harum
  ipsam nihil, nisi omnis perferendis quisquam sunt ut! Adipisci assumenda,
  autem beatae commodi consequatur, dolorem ducimus earum eius enim ex iste
  minus modi neque nihil odit quasi quis rerum sapiente sunt tenetur. A
  accusantium aliquid, amet aut consectetur cumque deserunt dolor eligendi enim
  illum, impedit labore laboriosam laborum libero maiores maxime nulla quos
  tempore unde voluptatibus! Accusantium aperiam ea eum, illo ipsa ipsam labore
  mollitia, officiis placeat provident quod soluta suscipit tempore totam unde
  vero voluptatibus. Accusamus consectetur consequatur cum, cumque cupiditate,
  dolorum enim, expedita id inventore ipsum magni modi natus necessitatibus nemo
  quam quasi quisquam voluptatibus. Asperiores blanditiis consequatur esse iste
  iusto perspiciatis sed sequi voluptate, voluptates? Accusantium architecto
  assumenda at eos eum eveniet facere harum hic in inventore labore maiores
  minima natus, necessitatibus officiis optio praesentium quae qui, quisquam rem
  totam vitae voluptatum. Ab accusamus aliquid animi commodi corporis deleniti
  deserunt dolorem dolores earum et excepturi exercitationem facere ipsa ipsam
  iste laudantium magnam magni modi possimus provident quidem quo ratione
  reiciendis repellat rerum sunt tenetur totam ullam, velit, voluptate! Amet
  cupiditate dolore dolorum iste itaque maxime omnis quas quis repellendus sunt.
  Accusamus animi, dolorem dolores doloribus eius ipsa ipsam nam, neque nisi,
  obcaecati quae ratione repellat sint! Aliquid aspernatur assumenda aut
  commodi, cum excepturi id itaque, magni modi quam quasi quia, voluptas
  voluptatum. Distinctio eligendi illo ipsa laboriosam magnam mollitia
  obcaecati. Ab alias asperiores aspernatur atque blanditiis commodi, cum dolor
  dolorem ea eaque error et expedita fugiat hic illum in ipsa iusto, laboriosam
  minima mollitia nam numquam odit possimus praesentium quaerat, repudiandae
  sint ut veniam vero voluptas. Dolor doloremque harum inventore molestias nisi
  numquam perspiciatis provident sapiente voluptas, voluptatibus. Amet
  architecto blanditiis commodi, consequuntur, delectus deserunt distinctio
  dolores ducimus ea earum eius error fuga fugit in ipsa ipsum iste minus modi
  praesentium quae quidem reiciendis, sed vero vitae.
</div>
